In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
PATH_LOAD = "/content/drive/My Drive/pandas รอบที่ 4/17k-apple-app-store-strategy-games.zip"

In [ ]:
PATH_LOAD

'/content/drive/My Drive/pandas รอบที่ 4/17k-apple-app-store-strategy-games.zip'

In [ ]:
df_apps = pd.read_csv(PATH_LOAD)

In [ ]:
df_apps[5:11]

                                                  URL  ...  Current Version Release Date
5   https://apps.apple.com/us/app/sudoku-classic-n...  ...                    29/04/2019
6   https://apps.apple.com/us/app/gravitation/id28...  ...                    14/11/2013
7    https://apps.apple.com/us/app/colony/id286363959  ...                     3/10/2018
8     https://apps.apple.com/us/app/carte/id286566987  ...                    23/11/2017
9   https://apps.apple.com/us/app/barrels-o-fun/id...  ...                     1/08/2008
10  https://apps.apple.com/us/app/quaddraxx/id2875...  ...                    30/09/2008

[6 rows x 18 columns]

In [ ]:
# ไว้สำหรับเช็ค Dimension ตาราง
df_apps.shape

(17007, 18)

In [ ]:
df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [ ]:
df_apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
URL                             17007 non-null object
ID                              17007 non-null int64
Name                            17007 non-null object
Subtitle                        5261 non-null object
Icon URL                        17007 non-null object
Average User Rating             7561 non-null float64
User Rating Count               7561 non-null float64
Price                           16983 non-null float64
In-app Purchases                7683 non-null object
Description                     17007 non-null object
Developer                       17007 non-null object
Age Rating                      17007 non-null object
Languages                       16947 non-null object
Size                            17006 non-null float64
Primary Genre                   17007 non-null object
Genres                          17007 non-null object
Original Release Date           17007 non-null object
Current Version Release Date    17007 non-null object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

In [ ]:
# Data type Series
df_apps["Price"].mean()

0.8134187128304518

In [ ]:
df_apps[["Price"]][0:5]

   Price
0   2.99
1   1.99
2   0.00
3   0.00
4   2.99

In [ ]:
df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [ ]:
df_apps[['Name', 'Average User Rating']][:3]

      Name  Average User Rating
0   Sudoku                  4.0
1  Reversi                  3.5
2  Morocco                  3.0

In [ ]:
df_apps[df_apps["Average User Rating"] > 4.5]

                                                     URL  ...  Current Version Release Date
160    https://apps.apple.com/us/app/slideswipe/id329...  ...                     4/10/2016
185    https://apps.apple.com/us/app/king-of-dragon-p...  ...                    18/10/2018
210    https://apps.apple.com/us/app/shottactoe/id341...  ...                    22/09/2016
251    https://apps.apple.com/us/app/sync-ball/id3562...  ...                     4/11/2017
275    https://apps.apple.com/us/app/worp-hd-next-gen...  ...                    25/10/2016
...                                                  ...  ...                           ...
16932  https://apps.apple.com/us/app/spatula-tft-chea...  ...                     1/08/2019
16956  https://apps.apple.com/us/app/basic-slosh/id14...  ...                    23/07/2019
16962  https://apps.apple.com/us/app/idle-racing-tyco...  ...                    31/07/2019
16967  https://apps.apple.com/us/app/glow-hockey-stri...  ...                    28/07/2019
16993  https://apps.apple.com/us/app/agadmator-chess-...  ...                    30/07/2019

[990 rows x 18 columns]

In [ ]:
df_apps.describe()

                 ID  Average User Rating  ...         Price          Size
count  1.700700e+04          7561.000000  ...  16983.000000  1.700600e+04
mean   1.059614e+09             4.060905  ...      0.813419  1.157064e+08
std    2.999676e+08             0.751428  ...      7.835732  2.036477e+08
min    2.849214e+08             1.000000  ...      0.000000  5.132800e+04
25%    8.996543e+08             3.500000  ...      0.000000  2.295014e+07
50%    1.112286e+09             4.500000  ...      0.000000  5.676895e+07
75%    1.286983e+09             4.500000  ...      0.000000  1.330271e+08
max    1.475077e+09             5.000000  ...    179.990000  4.005591e+09

[8 rows x 5 columns]

In [ ]:
df_apps.sort_values(by="Average User Rating",
                    ascending=False)[["Name"]][:5]

                                    Name
16993              Agadmator Chess Clock
2733              Optical Inquisitor 17+
12034  Watermelon Evolution Food Clicker
2730               Rush for gold: Alaska
12051      "Jean's Sundaeria : Tap Dash"

In [ ]:
df_apps.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [ ]:
value_cols = ['Average User Rating',
'Price',
'In-app Purchases',
'User Rating Count']

In [ ]:
df_apps[value_cols].describe()

       Average User Rating         Price  User Rating Count
count          7561.000000  16983.000000       7.561000e+03
mean              4.060905      0.813419       3.306531e+03
std               0.751428      7.835732       4.232256e+04
min               1.000000      0.000000       5.000000e+00
25%               3.500000      0.000000       1.200000e+01
50%               4.500000      0.000000       4.600000e+01
75%               4.500000      0.000000       3.090000e+02
max               5.000000    179.990000       3.032734e+06

In [ ]:
df_apps[['In-app Purchases']].sample(10)

                                        In-app Purchases
46                                                   NaN
15874                                                NaN
14822                                                NaN
11716                                               2.99
5607                                                 NaN
16309  4.99, 4.99, 0.99, 0.99, 2.99, 1.99, 9.99, 4.99...
13712                                                NaN
6983                                                0.99
11002                                                NaN
7813                              3.99, 2.99, 1.99, 0.99

In [ ]:
df_apps['In-app Purchases'] = df_apps['In-app Purchases'].fillna(0)

In [ ]:
df_apps[['In-app Purchases']].sample(3)

       In-app Purchases
1434                  0
1978                  0
3574  9.99, 4.99, 19.99

In [ ]:
def process_inapp_purchase(value_purchase):
    str_purchase = str(value_purchase)
    str_list = str_purchase.split(", ")
    float_list = [ float(x) for x in str_list ]
    mean_purchase = np.mean(float_list)
    return mean_purchase

In [ ]:
df_apps['Avg In-app Purchases'] = \
    df_apps['In-app Purchases'].apply(process_inapp_purchase)

In [ ]:
df_apps['Avg In-app Purchases'].min(), \
df_apps['Avg In-app Purchases'].max()

(0.0, 89.99000000000001)

### Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
normalization = MinMaxScaler((1,10))

In [ ]:
df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']] = normalization.fit_transform(df_apps[['Average User Rating',
                                    'Price',
                                    'Avg In-app Purchases',
                                    'User Rating Count']])

In [ ]:
df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']].describe()

       Average User Rating  ...  User Rating Count
count          7561.000000  ...        7561.000000
mean              7.887035  ...           1.009798
std               1.690712  ...           0.125597
min               1.000000  ...           1.000000
25%               6.625000  ...           1.000021
50%               8.875000  ...           1.000122
75%               8.875000  ...           1.000902
max              10.000000  ...          10.000000

[8 rows x 4 columns]

In [ ]:
df_apps["luxe_score"] = df_apps[['Average User Rating',
        'Price',
        'Avg In-app Purchases',
        'User Rating Count']].mean(axis=1)

In [ ]:
df_luxe = df_apps.sort_values(by="luxe_score", ascending=False)\
    [["Name", "luxe_score"]]

In [ ]:
PATH_LOAD

'/content/drive/My Drive/pandas รอบที่ 4/17k-apple-app-store-strategy-games.zip'

In [ ]:
PATH_SAVE = '/content/drive/My Drive/pandas รอบที่ 4/final_luxe_apps.csv'

In [ ]:
df_luxe.to_csv(PATH_SAVE)